.block {
    float: left;
    width: 25px;
    height: 25px;
    border: 2px solid#282728;
    box-sizing: border-box;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
}
  
  .blue {
    background: #13b4ff;
  }
  
  .purple {
    background: #ab3fdd;
  }
  
  .wine {
    background: #ffd8f7;
  }

.no-wall-north {
	border-top: 0;
}

.no-wall-east {
	border-right: 0;
}

.no-wall-south {
	border-bottom: 0;
}

.no-wall-west {
	border-left: 0;
}

input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }